h1{
    color:rgb(203, 255, 17);
}

.header{
    background-color: cadetblue;
    display:flex;
    justify-content:space-betweens;
}

.menu{
    display:flex;
    flex-direction: column;
    justify-content: first baseline;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
}

.grid{
    display:flex;
    flex-direction:wrap;
    justify-content: space-evenly;

}

.grid img{
    border:2px solid #000000;
    border-radius: 50px;
}


.footer{
    display:flex;
    justify-content: flex-end;

}

p,h2{
    
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    margin: 25px;
    width: 310px;
    font-family:fantasy;
}